{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">  
    <h2>Привет! Я автор этого чудесного проекта)</h2>
    <article>
      Привет! Меня зовут Никита, я начинающий веб-разработчик.
      <br>
      Мне нравится прогать, это все, что нужно знать обо мне на данный момент.
      <br>
      Поэтому просто размещу тут гифку с пёселем)))
    </article>
  </div>
  <p>
    <img src="https://i.yapx.ru/OuCa2.gif"  class="rounded mx-auto d-block" alt=" ">
  </p>
{% endblock %} 