{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h2>Я использовал для создания этого сайта</h2>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          HTML
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          это высокоуровневый язык программирования, который используется в различных сферах IT, таких как машинное обучение, разработка приложений, web, парсинг и другие.
        </li>
        <li class="list-group-item">
          это высокоуровневый Python веб-фреймворк, который позволяет быстро создавать безопасные и поддерживаемые веб-сайты.
        </li>
        <li class="list-group-item">
          это язык программирования, предназначенный для работы с наборами фактов и отношениями между ними.
        </li>
        <li class="list-group-item">
          это стандартизированный язык гипертекстовой разметки документов для просмотра веб-страниц в браузере.
        </li>
      </ul>
    </article>
  </div>
{% endblock %} 